body {
  padding: 0%;
  margin: 0%;
}

.cozy {
  display: flex;
  justify-content: space-between;
}

.gg img {
  width: 50%;
  margin-left: 4%;
}

nav {
  span {
    margin-left: 107px;
  }
}

nav ul {
  display: none;
}

header img {
  width: 50%;
  height: 50px;
}

.act1 span {
  font-weight: bolder;
}

.act1 p {
  text-align: center;
}

.act1 h1 {
  text-align: center;
}

label {
  text-align: center;
}

.span-work {
  color: #8c8989;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  margin-left: 45px;
}

.span-work span:hover {
  color: black;
}

.chapter1 img {
  width: 50%;
  height: 50x;
  margin-left: 26%;
}

.act1 h1 {
  color: #7f7e7e;
}

.act1 span {
  color: #050303;
}

.button {
  color: black;
}

.section1-3 h5 {
  text-align: center;
}

.section1 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: lightgray;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.form-group1 {
  color: #050303;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}

.form-group2 {
  color: #050303;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}

.form-group3 {
  color: #050303;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}

.form-group4 {
  color: #050303;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}

.form-group5 {
  color: #050303;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}

.gas1 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}
.gas2 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.gas3 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.act2 h1 {
  text-align: center;
}

.section1 h3 {
  background-color: green;
  width: 35%;
  height: 30px;
  color: white;
  margin-left: 30%;
  border-radius: 5%;
}

.section1-3 {
  background-color: lightgrey;
}

.section1-3 p {
  text-align: center;
}

.section1-3 h3 {
  background-color: orangered;
  width: 27%;
  height: 30px;
  color: white;
  margin-left: 35%;
  border-radius: 5%;
  text-align: center;
}

.gas2 h4 {
  background-color: skyblue;
  width: 27%;
  height: 20px;
  color: white;
  margin-left: 35%;
  border-radius: 5%;
  text-align: center;
}

.gas3 h5 {
  background-color: lightgrey;
  width: 27%;
  height: 20px;
  color: white;
  margin-left: 35%;
  border-radius: 5%;
  text-align: center;
}

.gas1 h5 {
  color: #7f7e7e;
}

.gas1 h2 {
  color: #7f7e7e;
}

.gas1 p {
  color: #7f7e7e;
}

.pedri {
  background-color: yellow;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.ss img {
  width: 100%;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  margin-bottom: -20px;
}

.yak {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 23%;
}

.yb {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 23%;
}

.yub {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 23%;
}

.tony {
  background-color: orangered;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.simeone {
  background-color: paleturquoise;
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 4px 2px #7f7e7e;
}

.chapter4 h1 {
  text-align: center;
}

.block1 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
}

.block1 img {
  width: 23%;
}

.block2 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
}

.block2 img {
  width: 23%;
}

.block3 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
}

.block3 img {
  width: 23%;
}

.block4 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
}

.block4 img {
  width: 23%;
}

.block5 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
}

.block5 img {
  width: 23%;
}

.block6 {
  padding: 1rem;
  margin: 14px;
  text-align: center;
  border-radius: 0.3rem;
  background-color: white;
}

.block6 img {
  width: 23%;
}

.chapter4 {
  background-color: lightgrey;
}

.general {
  text-align: center;
}

.chapter5 {
  background-color: lightcyan;
}

.chapter6 {
  text-align: center;
  background-color: orangered;
  padding-bottom: 12%;
}

.carlex img {
  width: 19%;
  text-align: center;
}

.big img {
  width: 23%;
}

.big {
  border-bottom: 1px solid black;
}

.step5 img {
  width: 23%;
}

.roddy img {
  width: 23%;
}

.carlex {
  display: flex;
  background-color: white;
  width: 50%;
  margin-bottom: 12%;
  margin-left: 17%;
  border-radius: 12%;
}

.roddy {
  display: flex;
  background-color: white;
  width: 50%;
  margin-bottom: 12%;
  margin-left: 17%;
  border-radius: 12%;
}
